#background > div {
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 5px 0px, rgba(0, 0, 0, 0.04) 0px 2px 10px 0px;
    padding: 30px;
    background-color: white;
}

    #background > div > div {
        overflow: hidden;
        border-top: 1px solid rgb(236, 234, 234);
        padding: 25px 0px;
    }

        #background > div > div:first-child > p {
            font-family: "Tw Cen MT";
            font-weight: bold;
            font-size: 18px;
            color: rgb(76, 70, 70);
        }

        #background > div > div > p:first-child {
            color: rgb(29, 29, 51);
            font-size: 22px;
        }

            #background > div > div > p:first-child > i, #background > div > div:nth-child(3) > div > p:first-child > i {
                width: 30px;
                font-size: 22px;
                margin-right: 10px;
            }

        #background > div > div > p:last-child, #background > div > div:nth-child(3) > div > p:last-child {
            margin: 0px;
            font-family: Verdana;
            line-height: 25px;
        }

        #background > div > div:nth-child(6) > button, #background > div > div:nth-child(7) > button {
            border-radius: 5px;
            color: rgb(117, 139, 158);
            font-weight: bold;
            font-family: "Tw Cen MT";
            padding: 10px;
            background-color: rgba(145, 176, 204, 0.24);
            border: 0px;
            width: 23%;
            margin-right: 10px;
        }

        #background > div > div:nth-child(3) > div > p:first-child > span:first-child, #background > div > div:nth-child(3) > div > p:first-child > span:last-child {
            font-size: 15px;
            font-weight: bold;
        }

        #background > div > div:nth-child(3) > div > p:first-child > span:last-child {
            color: rgb(6, 110, 183);
        }

        #background > div > div:nth-child(3) > div > p:nth-child(2) {
            font-family: Verdana;
            color: rgba(128, 128, 128, 0.68);
            font-size: 13px;
        }

        #background > div > div:nth-child(3) > div > p:first-child {
            margin-bottom: 2px;
            line-height: 1.6;
        }

        #background > div > div:nth-child(3) > div {
            padding: 15px 0px;
        }

        #background > div > div:nth-child(4) {
            text-align: center;
            border: 0;
            padding-top: 0;
        }

            #background > div > div:nth-child(4) > button {
                border-radius: 5px;
                color: rgb(233, 241, 249);
                font-weight: bold;
                font-family: "Tw Cen MT";
                padding: 10px;
                background-color: rgb(76, 175, 80);
                border: 0px;
                width: 23%;
            }

                #background > div > div:nth-child(4) > button:focus {
                    outline: none;
                }

#skills > p {
    font-weight: bold;
    margin-bottom: 1px;
    font-family: Tw Cen MT;
    text-align: center;
    font-size: 18px;
}

#skills > div {
    padding: 3px 0px;
    border-radius: 10px;
    border: 1px solid grey;
}

    #skills > div > div {
        padding: 0px;
        PADDING-LEFT: 4PX;
        PADDING-RIGHT: 4PX;
    }

        #skills > div > div > div {
            background-color: rgb(117, 139, 158);
            width: 0px;
            padding: 4px;
            border-radius: 5px;
            TRANSITION: 1S;
        }




#contactViewers {
    background-color: white;
}

    #contactViewers > div:first-child {
        padding: 0px 30px;
    }


        #contactViewers > div:first-child > div {
            border-bottom: 1px solid rgb(236, 234, 234);
            padding: 26px 0px;
        }

            #contactViewers > div:first-child > div > p {
                margin: 0px;
                color: rgb(29, 29, 51);
                font-size: 22px;
                font-weight: bold;
                font-family: "Tw Cen MT";
            }

    #contactViewers > div {
        overflow: hidden;
        padding: 11px 20px;
    }

        #contactViewers > div:first-child:hover {
            background-color: white;
        }

        #contactViewers > div:hover {
            background-color: rgba(128, 128, 128, 0.08);
        }

            #contactViewers > div:hover > p > button {
                visibility: visible;
            }

        #contactViewers > div > img {
            width: 22%;
            border-radius: 53PX;
            height: 80px;
            float: left;
        }

        #contactViewers > div > p {
            padding: 21px;
            margin: 0;
        }

            #contactViewers > div > p > span:first-child {
                margin-left: 15px;
                font-weight: bold;
                font-size: 20px;
                font-family: "Tw Cen MT";
            }

            #contactViewers > div > p > button {
                margin-top: 10px;
                visibility: hidden;
                background-color: rgb(2, 138, 255);
                float: right;
                border-radius: 57px;
                border: 0;
            }

                #contactViewers > div > p > button > i {
                    color: white;
                    position: relative;
                    top: 2px;
                    font-size: 20px;
                    padding: 5px 3px;
                }

            #contactViewers > div > p > span:last-child {
                margin-left: 15px;
                color: rgba(128, 128, 128, 0.62);
                font-family: Verdana;
            }
            #contacts {
                box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 5px 0px, rgba(0, 0, 0, 0.04) 0px 2px 10px 0px;
                padding: 0;
            }