@{
    ViewBag.Title = "Home Page";
}

<div id="header" class="col-lg-12">
    <div class="col-lg-12">
        <div class="col-lg-12">
            <img src="~/Content/Images/swedish_flag_wallpaper_sweden_world_wallpaper_1440_900_widescreen_1829.jpg" />
        </div>
        <div class="col-lg-12">
            <button>PRO</button>
            <span>Abel Abraha</span>
            <button id="status">Off</button>
        </div>
        <div class="col-lg-12">
            <p>Founder of Unfold</p>
        </div>
        <div id="stats" class="col-lg-12">
            <div class="col-lg-1">
                <p>
                    <span>5780</span>
                    <br />
                    <span>PROFILE VIEWS</span>
                </p>
            </div>
            <div class="col-lg-1">
                <p>
                    <span>5780</span>
                    <br />
                    <span>PROJECTS</span>
                </p>
            </div>
            <div class="col-lg-1">
                <p>
                    <span>5780</span>
                    <br />
                    <span>CONNECTIONS</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3">
    <p>Hello</p>
</div>

<div class="col-lg-6">
    <p>Yo</p>
</div>
<div class="col-lg-3">
    <p>Yo</p>
</div>